{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<!--begin::Post-->
<div class="post d-flex flex-column-fluid" id="kt_post">
	<!--begin::Container-->
	<div id="kt_content_container" class="container-xxl">
		<!--begin::Row-->
		<div class="row gy-5 g-xl-8">
			<!--begin::Col-->
			<div class="col-xl-12">
				{% include 'divisao_administrativa/head_tab_adm.html' %}
				<div class="card p-5">
					<!--begin::Header-->
					<div class="card-header border-0 pt-5">
						<h3 class="card-title align-items-start flex-column">
							<!-- <span class="card-label fw-bolder fs-3 mb-1">Lista Utilizador</span> -->
							<!-- <span class="text-muted mt-1 fw-bold fs-7">Total Funcionarios :: {{objects|length}}</span> -->
						</h3>
						<!-- <div>
							<a href="{% url 'RegistaNovoFuncionario' %}" class="btn btn-sm btn-light-primary btn-active-primary" >
							<i class="bi bi-person-plus"></i>
							Registar Novo Funcionario</a>
						</div> -->
					</div>
					<!--end::Header-->
					<!--begin::Body-->
					<div class="card-body py-3">
						<!--begin::Table container-->
						<div class="table-responsive">
							<!--begin::Table-->
							<table id="example" class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
									<!--begin::Table head-->
									<thead>
										<tr>
								            <th>
								            	<select id="municipio" name="municipio" class="form-control">
								            		<option value="">Seleciona Municipio</option>
								            		{% for i in objects %}
								            		<option value="{{i.municipio}}">{{i.municipio}}</option>
								            		{% endfor %}
								            	</select>
								            </th>
								            <th><input class="form-control" type="text" id="posto" name="posto" placeholder="Posto Administrativo"></th>
								            <th><input class="form-control" type="text" id="suco" name="suco" placeholder="Suco"></th>
								            <th><input class="form-control" type="text" id="aldeia" name="aldeia" placeholder="Aldeia"></th>
								        </tr>
										<tr class="fw-bolder text-muted">
											<th class="min-w-140px">Municipio</th>
											<th class="min-w-120px">Posto</th>
											<th class="min-w-120px">Suco</th>
											<th class="min-w-120px">Aldeia</th>
										</tr>
									</thead>
									<!--end::Table head-->
									<!--begin::Table body-->
									
									<!--end::Table body-->
								</table>
							<!--end::Table-->
						</div>
						<!--end::Table container-->
					</div>
					
				</div>
			</div>
			<!--end::Col-->
		</div>
	</div>
</div>



{% endblock %}

{% block modal %}
{% endblock %}

{% block script %}
<link href="{% static 'assets/datatables/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/datatables/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
        <script src="{% static 'assets/datatables/js/jquery.dataTables.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'assets/datatables/js/dataTables.bootstrap4.min.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var table = $('#example').DataTable({
            processing: true,
            serverSide: true,
            
            ajax: {
	            url: '{% url "monitor_divisao_administrativa_data" %}',
	            data: function(d) {
	                d.municipio = $('#municipio').val();
	                d.posto = $('#posto').val();
	                d.suco = $('#suco').val();
	                d.aldeia = $('#aldeia').val();

	            },traditional: true
	        },
            columns: [
                { data: 'municipio' },
                { data: 'posto' },
                { data: 'suco' },
                { data: 'aldeia' },
            ],
            order: [[1, 'asc']],
            pageLength: 10 , // Adjust the number of rows per page as needed
            // dom: '<<"top"rt<"bottom"lp><"clear">',
            dom: '<<"top"rt><"bottom"p><"clear">',
            initComplete: function() {
	            this.api().columns().every(function() {
	                var column = this;
	                console.log("column"+column)
	                $('input', column.header()).on('keyup change', function() {
	                    column.search(this.value).draw();
	                });
	            });
	        },
            "rowCallback": function (row, data, index) {
                // Add a click event to the row
                $(row).on('click', function () {
                    // Get the equipment ID from the data object (adjust the property name as needed)
                    var dataID = data.id;  // Assuming your data has an 'id' property

                    // Redirect to the detail page using the equipment ID
                    window.location.href = "{% url 'DetalhoFuncionarioListaHab' 0 %}".replace('0', dataID);
                });
            }
        });
        // Add event listener for search inputs
        $('#municipio').on('change', function () {
	        table.draw();
	    });
	    $('#posto').on('keyup', function () {
	        table.draw();
	    });
	    $('#suco').on('keyup', function () {
	        table.draw();
	    });
	    $('#aldeia').on('keyup', function () {
	        table.draw();
	    });

	    $('#example').on('xhr.dt', function(e, settings, json, xhr) {
            $('#filteredCount').text(json.recordsFiltered);  // Update the element with the filtered count
        });
        $('#example').on('xhr.dt', function(e, settings, json, xhr) {
            $('#totalCount').text(json.allTotal);  // Update the element with the filtered count
        });


    });
</script>
{% endblock %}