{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<!--begin::Post-->
<div class="post d-flex flex-column-fluid" id="kt_post">
	<!--begin::Container-->
	<div id="kt_content_container" class="container-xxl">
		<!--begin::Row-->
		<div class="row gy-5 g-xl-8">
			<!--begin::Col-->
			<div class="col-xl-12">
				<div class="card p-5">
					<div class="notice d-flex bg-light-warning rounded border-warning border border-dashed p-6">
						<!--begin::Icon-->
						<!--begin::Svg Icon | path: icons/duotune/general/gen044.svg-->
						<span class="svg-icon svg-icon-2tx svg-icon-warning me-4">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
								<rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="black" />
								<rect x="11" y="14" width="7" height="2" rx="1" transform="rotate(-90 11 14)" fill="black" />
								<rect x="11" y="17" width="2" height="2" rx="1" transform="rotate(-90 11 17)" fill="black" />
							</svg>
						</span>
						<!--end::Svg Icon-->
						<!--end::Icon-->
						<!--begin::Wrapper-->
						<div class="d-flex flex-stack flex-grow-1">
							<!--begin::Content-->
							<div class="fw-bold">
								<h1 class="text-gray-900 fw-bolder">Benvindu!</h1>
								<div class="fs-6 text-gray-700">
									Benvindo ao {{cores.syssigla}}, {{cores.sysname}} - {{cores.owner}} 
								</div>
							</div>
							<!--end::Content-->
						</div>
						<!--end::Wrapper-->
							
					</div>
					<div class="mt-5">
								<!-- <img src="{% static 'assets/media/logos/geolab2.jpg' %}" width="100%" height="80%"> -->
							</div>
				</div>
			</div>
			<!--end::Col-->
		</div>
	</div>
</div>



{% endblock %}

{% block modal %}
{% endblock %}