{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

						<div class="post d-flex flex-column-fluid" id="kt_post">
							<div id="kt_content_container" class="container-xxl">
							<!--begin::Container-->
								<!--begin::Navbar-->
								{% include "account/tab.html" %}
								<!--end::Navbar-->
								<!--begin::details View-->
								<div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
									<!--begin::Card header-->
									<div class="card-header cursor-pointer">
										<!--begin::Card title-->
										<div class="card-title m-0">
											<h3 class="fw-bolder m-0">Security Settings</h3>
										</div>
										<!--end::Card title-->
										<!--begin::Action-->
										<!--end::Action-->
									</div>
									<!--begin::Card header-->
									<!--begin::Card body-->
									<div class="card-body p-9">
										<form method="POST">
								            {% csrf_token %}
								            <fieldset class="form-group">{{ form|crispy }}</fieldset>
								            <div class="form-group d-flex align-items-center justify-content-end mt-4 mb-0">
								              <button class="btn btn-sm btn-primary" type="submit"><i class="bi bi-save"></i> Save Changes </button>
								            </div>
								        </form>
									</div>
									<!--end::Card body-->
								</div>
								<!--end::details View-->
								
							</div>
							<!--end::Container-->
						</div>
						<!--end::Post-->
{% endblock %}