{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<!--begin::Post-->
<div class="post d-flex flex-column-fluid" id="kt_post">
	<!--begin::Container-->
	<div id="kt_content_container" class="container-xxl">
	
		<!--begin::Navbar-->
		{% include "account/tab.html" %}
		<!--end::Navbar-->
		<!--begin::details View-->
		<div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
			<!--begin::Card header-->
			<div class="card-header cursor-pointer">
				<!--begin::Card title-->
				<div class="card-title m-0">
					<h3 class="fw-bolder m-0">{{title}}</h3>
				</div>
				<!--end::Card title-->
				<!--begin::Action-->
				<!--end::Action-->
			</div>
			<!--begin::Card header-->
			<!--begin::Card body-->
			<div class="card-body p-9">
				<div class="row">
					<div class="col-xl-4 mb-4">
						<div class=" bg-primary p-3">
							<h1 class="text-light text-center">
								{{objects|length}}
							</h1>
								
								<p class="text-center text-light">Total Login</p>
						</div>		
					</div>
					<div class="col-xl-8">
						<div class="table-responsive">
							<!--begin::Table-->
							<table id="example" class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
								<!--begin::Table head-->
								<thead>
									<tr class="fw-bolder text-muted">
										<th class="min-w-10px">Nu.</th>
										<th class="min-w-140px">Data Login</th>
										<th class="min-w-120px">Oras Login</th>
									</tr>
								</thead>
								<!--end::Table head-->
								<!--begin::Table body-->
								<tbody>
									{% for obj in objects %}
									<tr>
										<td>
												{{forloop.counter}}
										</td>
										<td data-title="Username">{{ obj.login_time }}</td>
										<td data-title="Username">{{ obj.login_time|time:"H:i:s" }}</td>
									</tr>
									{%endfor%}
								</tbody>
								<!--end::Table body-->
							</table>
							<!--end::Table-->
						</div>
					</div>
					
				</div>
				
			</div>
			<!--end::Card body-->
		</div>
		<!--end::details View-->
		
	</div>
	<!--end::Container-->
</div>
<!--end::Post-->
{% endblock %}

{% block script %}
		{% include 'exports/exports_custom1.html' %}
{% endblock %}